.about-us {
  padding: $section-padding;

  img.pull-left {
    margin-right: 15px;
  }

  p {text-align: justify;}
}

.about-us-slider {
  margin: 0 0 5px 15px;

  ul {
    @include display-flex;
    @include justify-content(space-between);
  }
}
