.admin-panel {
  position: fixed;
  top: 50%;
  width: 40px;
  height: 200px;
  background: #001fa7;

  left: 0;
  transition-duration: 0.5s;

  &:hover {
    left : 600px;
  }

  .admin-content {
    height: 400px;
    width: 600px;
    background: $color4;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -200px;
    padding: 20px 15px;

    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 0 5px;
    }

    fieldset {
      margin-bottom: 10px;
    }

    .button {float: left;}

  }

  h4 {text-align: center;}
}

.panel-title {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: -80px;
  top: 80px;
}