.catalog {
  @include dark-section-style;
}

#catalog_table {
  border-spacing: 8px 6px;
  padding-right: 20px;
  display: inline-block;
  @include flex(2);

  tr td {
    padding: 3px 8px;
    background-color: $color3;
    color: $color5;

    &:first-child {
      width: 100%;
    }

    &.action-td {
      width: 24px;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $color5;
    }
  }
}

.product-image {
  display: inline-block;
  background-color: $color3;
  margin: 6px 0;
}

.catalog .pagination {
  float: left;
  padding: 10px 6px;

  li {
    padding-right: 4px;

    span {
      padding: 3px 4px;
      background: $color3;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: #ccc;
        color: $color2;
      }
    }
  }
}