.contacts {
  @include dark-section-style;

  .flex-wrap {
    flex-wrap: nowrap;
    @include justify-content(space-between);
  }
}

.grid-row .grid-item.contacts-form {
  padding-right: 15px;
  @include flex(2);


  li {
    display: block;
    padding-bottom: 10px;
  }

  label {
    display: block;
    padding-bottom: 5px;
  }

  input, textarea {
    width: 100%;
  }
}

.contact-image {
  padding-right: 15px;
}

.grid-row .grid-item.contact-info {
  @include flex(2);
}