footer {
  padding: 20px 0;

	.flex-wrap {
		@include justify-content(space-between);
	}

}

.social {
	display: inline-block;
	width: 41px;
	height: 41px;
	margin-right: 5px;

	&.inst {
		background: url(../images/sprite1.png) 0 -51px no-repeat;
	}

	&.tw {
		background: url(../images/sprite1.png) 0 -102px no-repeat;
	}

	&.fb {
		background: url(../images/sprite1.png) 0 0 no-repeat;
	}
}

.copyright {
	-webkit-align-self: flex-end;
	align-self: flex-end;
}