header {
	height: 60px;
	background-color: $color1;

	.container {
		position: relative;
	}
}

a.logo {
	display: block;
	@include stretch(20px, inherit, 15px, inherit);
}

nav.main ul {
	margin: 0;
	@include display-flex;
	@include flex-wrap(wrap);
	@include justify-content(flex-end);

	li {
		a {
			text-transform: uppercase;
			font: 600 15px Arial;
			color: $color2;
			text-decoration: none;
			height: 60px;
			line-height: 60px;
			display: block;
			padding: 0 15px;

			&:hover {
				color: $color1;
				background-color: $color2;
			}
		}
	}
}