@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin dark-section-style {
	background-color: $color2;
	color: $color5;
}

@mixin display-flex() {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin justify-content($q) {
	-webkit-justify-content: $q;
	-ms-justify-content: $q;
	justify-content: $q;
}

@mixin flex($q) {
  webkit-box-flex: $q;
  -webkit-flex: $q;
  -ms-flex: $q;
  flex: $q;
}

@mixin border-radius($q) {
  -moz-border-radius: $q;
  -webkit-border-radius: $q;
  border-radius: $q;
}