#blackout {
  position: fixed;
  background: url(../images/popup-background.png) repeat;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup {
  padding: 15px 30px;
  width: 600px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  z-index: 1001;

  .close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;

    span {
      font-size: 18px;
    }

    &:hover {
      background: $color4;
      @include border-radius(100%);

      span {
        color: #fff;
      }
    }
  }
}

.popup {
  .product-info {
    padding-bottom: 15px;
  }
  .product-info-image img {
    width: 200px;
    border: 1px solid $color1;
  }
  .grid-row .grid-item.product-info-description {
    @include flex(2);
  }

  .options {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    li {
      display: block;

      strong {
        padding-right: 10px;
      }
    }
  }

  .total-price {
    width: 100px;
    padding: 15px 10px;
    background: $color1;
    display: inline-block;
    vertical-align: top;
  }
}


