.slider {
  padding: $section-padding;

  p.a-center {
    border-bottom: 2px solid $color1;
    padding-bottom: 50px;
  }
}

.mycarousel-wrapper {
  margin: 20px auto;
  position: relative;

  .pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    .item {
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      height: 10px;
      width: 10px;
      line-height: 10px;
      background: $color1;
      @include border-radius(100%);
      text-indent: -9999px;
      margin-right: 7px;

      &.active {
        background: $color2;
      }
    }
  }
}

.mycarousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  ul {
    width: 20000em;
    padding: 0;

    li {
      float: left;
      width: 185px;
      text-align: center;
      padding: 0 35px;

      img {
        width: 100%;
        padding: 2px;
        border: 1px solid $color5;
      }
    }
  }

  .item-title {
    display: block;
    color: $color5;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.mycarousel-control-prev, .mycarousel-control-next {
  position: absolute;
  top: 40%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  cursor: pointer;
  font: 24px/27px Arial, sans-serif;
  @include border-radius(30px);
}

.mycarousel-control-prev {
  left: 15px;
}

.mycarousel-control-next {
  right: 15px;
}
