.top-section {
  @include dark-section-style;

  .top-section-content {
    display: inline-block;
    padding-right: 20px;

    p {
      font: 400 25px/32px Lato;
      color: $color4;
      text-transform: uppercase;
      margin: 0 0 15px;
    }
  }

  .top-section-image {
    display: inline-block;
  }
}

.grid-row .grid-item.top-section-content {
  flex: 2;
}