@import '_normalize';
@import 'compass/css3';
@import 'compass/layout/stretching';
@import '_variables';
@import '_mixins';
@import '_header';
@import '_footer';
@import '_slider';
@import '_top-section';
@import '_catalog';
@import '_about-us';
@import '_contacts';
@import '_admin';
@import '_popup';

/*---- Global -----*/
html {
	box-sizing: border-box;
	font: 400 14px 'Open Sans', 'Arial', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #fff;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	@include clearfix;
}

input[type=text],
textarea,
select[name=subject],
input[type=submit],
input[type=reset],
input[type=email],
input[type=number] {
	border: 1px solid $color1;
}

.a-center {
	text-align: center;
}

.a-left {
	text-align: left;
}

.a-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font: 700 35px/42px Lato;
}

h4 {
	font: 600 18px/20px Lato;
}

.promo {
  padding: $section-padding;
}

.grid-row {
	@include display-flex;
	@include flex-wrap(wrap);

	.grid-item {
      @include flex(1);
      padding: 0 15px;

      &:first-child {padding-left: 0;}

      &:last-child {padding-right: 0;}
	}
}

@media (max-width: 4000px) and (min-width: 980px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 979px) and (min-width: 780px) {
	.container {
		width: 780px;
	}
}