/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 50, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, ../sass/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, ../sass/_normalize.scss */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 91, ../sass/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 100, ../sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 141, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 150, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 159, ../sass/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 168, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 177, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 185, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 189, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 200, ../sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 208, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 220, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
/* line 232, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 241, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
/* line 254, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 265, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
/* line 275, ../sass/_normalize.scss */
button,
input,
select {
  /* 2 */
  overflow: visible;
}

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
/* line 286, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
/* line 298, ../sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Change the cursor in all browsers (opinionated).
 */
/* line 307, ../sass/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
/* line 318, ../sass/_normalize.scss */
[disabled] {
  cursor: default;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
/* line 328, ../sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 339, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 349, ../sass/_normalize.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 358, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 371, ../sass/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 384, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 393, ../sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 403, ../sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
/* line 412, ../sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
/* line 421, ../sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 1, ../sass/_header.scss */
header {
  height: 60px;
  background-color: #ccc;
}
/* line 5, ../sass/_header.scss */
header .container {
  position: relative;
}

/* line 10, ../sass/_header.scss */
a.logo {
  display: block;
  position: absolute;
  top: 20px;
  bottom: 15px;
  left: inherit;
  right: inherit;
}

/* line 15, ../sass/_header.scss */
nav.main ul {
  margin: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 22, ../sass/_header.scss */
nav.main ul li a {
  text-transform: uppercase;
  font: 600 15px Arial;
  color: #222;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  display: block;
  padding: 0 15px;
}
/* line 32, ../sass/_header.scss */
nav.main ul li a:hover {
  color: #ccc;
  background-color: #222;
}

/* line 1, ../sass/_footer.scss */
footer {
  padding: 20px 0;
}
/* line 4, ../sass/_footer.scss */
footer .flex-wrap {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/* line 10, ../sass/_footer.scss */
.social {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 5px;
}
/* line 16, ../sass/_footer.scss */
.social.inst {
  background: url(../images/sprite1.png) 0 -51px no-repeat;
}
/* line 20, ../sass/_footer.scss */
.social.tw {
  background: url(../images/sprite1.png) 0 -102px no-repeat;
}
/* line 24, ../sass/_footer.scss */
.social.fb {
  background: url(../images/sprite1.png) 0 0 no-repeat;
}

/* line 29, ../sass/_footer.scss */
.copyright {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* line 1, ../sass/_slider.scss */
.slider {
  padding: 60px 0;
}
/* line 4, ../sass/_slider.scss */
.slider p.a-center {
  border-bottom: 2px solid #ccc;
  padding-bottom: 50px;
}

/* line 10, ../sass/_slider.scss */
.mycarousel-wrapper {
  margin: 20px auto;
  position: relative;
}
/* line 14, ../sass/_slider.scss */
.mycarousel-wrapper .pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 22, ../sass/_slider.scss */
.mycarousel-wrapper .pagination .item {
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  background: #ccc;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-indent: -9999px;
  margin-right: 7px;
}
/* line 34, ../sass/_slider.scss */
.mycarousel-wrapper .pagination .item.active {
  background: #222;
}

/* line 41, ../sass/_slider.scss */
.mycarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 46, ../sass/_slider.scss */
.mycarousel ul {
  width: 20000em;
  padding: 0;
}
/* line 50, ../sass/_slider.scss */
.mycarousel ul li {
  float: left;
  width: 185px;
  text-align: center;
  padding: 0 35px;
}
/* line 56, ../sass/_slider.scss */
.mycarousel ul li img {
  width: 100%;
  padding: 2px;
  border: 1px solid #e5e5e5;
}
/* line 64, ../sass/_slider.scss */
.mycarousel .item-title {
  display: block;
  color: #e5e5e5;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 72, ../sass/_slider.scss */
.mycarousel-control-prev, .mycarousel-control-next {
  position: absolute;
  top: 40%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  cursor: pointer;
  font: 24px/27px Arial, sans-serif;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* line 86, ../sass/_slider.scss */
.mycarousel-control-prev {
  left: 15px;
}

/* line 90, ../sass/_slider.scss */
.mycarousel-control-next {
  right: 15px;
}

/* line 1, ../sass/_top-section.scss */
.top-section {
  background-color: #222;
  color: #e5e5e5;
}
/* line 4, ../sass/_top-section.scss */
.top-section .top-section-content {
  display: inline-block;
  padding-right: 20px;
}
/* line 8, ../sass/_top-section.scss */
.top-section .top-section-content p {
  font: 400 25px/32px Lato;
  color: #666;
  text-transform: uppercase;
  margin: 0 0 15px;
}
/* line 16, ../sass/_top-section.scss */
.top-section .top-section-image {
  display: inline-block;
}

/* line 21, ../sass/_top-section.scss */
.grid-row .grid-item.top-section-content {
  flex: 2;
}

/* line 1, ../sass/_catalog.scss */
.catalog {
  background-color: #222;
  color: #e5e5e5;
}

/* line 5, ../sass/_catalog.scss */
#catalog_table {
  border-spacing: 8px 6px;
  padding-right: 20px;
  display: inline-block;
  webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* line 11, ../sass/_catalog.scss */
#catalog_table tr td {
  padding: 3px 8px;
  background-color: #555;
  color: #e5e5e5;
}
/* line 16, ../sass/_catalog.scss */
#catalog_table tr td:first-child {
  width: 100%;
}
/* line 20, ../sass/_catalog.scss */
#catalog_table tr td.action-td {
  width: 24px;
  text-align: center;
}
/* line 25, ../sass/_catalog.scss */
#catalog_table tr td a {
  text-decoration: none;
  color: #e5e5e5;
}

/* line 32, ../sass/_catalog.scss */
.product-image {
  display: inline-block;
  background-color: #555;
  margin: 6px 0;
}

/* line 38, ../sass/_catalog.scss */
.catalog .pagination {
  float: left;
  padding: 10px 6px;
}
/* line 42, ../sass/_catalog.scss */
.catalog .pagination li {
  padding-right: 4px;
}
/* line 45, ../sass/_catalog.scss */
.catalog .pagination li span {
  padding: 3px 4px;
  background: #555;
  color: #fff;
  cursor: pointer;
}
/* line 51, ../sass/_catalog.scss */
.catalog .pagination li span:hover {
  background: #ccc;
  color: #222;
}

/* line 1, ../sass/_about-us.scss */
.about-us {
  padding: 60px 0;
}
/* line 4, ../sass/_about-us.scss */
.about-us img.pull-left {
  margin-right: 15px;
}
/* line 8, ../sass/_about-us.scss */
.about-us p {
  text-align: justify;
}

/* line 11, ../sass/_about-us.scss */
.about-us-slider {
  margin: 0 0 5px 15px;
}
/* line 14, ../sass/_about-us.scss */
.about-us-slider ul {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/* line 1, ../sass/_contacts.scss */
.contacts {
  background-color: #222;
  color: #e5e5e5;
}
/* line 4, ../sass/_contacts.scss */
.contacts .flex-wrap {
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/* line 10, ../sass/_contacts.scss */
.grid-row .grid-item.contacts-form {
  padding-right: 15px;
  webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* line 15, ../sass/_contacts.scss */
.grid-row .grid-item.contacts-form li {
  display: block;
  padding-bottom: 10px;
}
/* line 20, ../sass/_contacts.scss */
.grid-row .grid-item.contacts-form label {
  display: block;
  padding-bottom: 5px;
}
/* line 25, ../sass/_contacts.scss */
.grid-row .grid-item.contacts-form input, .grid-row .grid-item.contacts-form textarea {
  width: 100%;
}

/* line 30, ../sass/_contacts.scss */
.contact-image {
  padding-right: 15px;
}

/* line 34, ../sass/_contacts.scss */
.grid-row .grid-item.contact-info {
  webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* line 1, ../sass/_admin.scss */
.admin-panel {
  position: fixed;
  top: 50%;
  width: 40px;
  height: 200px;
  background: #001fa7;
  left: 0;
  transition-duration: 0.5s;
}
/* line 11, ../sass/_admin.scss */
.admin-panel:hover {
  left: 600px;
}
/* line 15, ../sass/_admin.scss */
.admin-panel .admin-content {
  height: 400px;
  width: 600px;
  background: #666;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -200px;
  padding: 20px 15px;
}
/* line 25, ../sass/_admin.scss */
.admin-panel .admin-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
}
/* line 31, ../sass/_admin.scss */
.admin-panel .admin-content fieldset {
  margin-bottom: 10px;
}
/* line 35, ../sass/_admin.scss */
.admin-panel .admin-content .button {
  float: left;
}
/* line 39, ../sass/_admin.scss */
.admin-panel h4 {
  text-align: center;
}

/* line 42, ../sass/_admin.scss */
.panel-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: -80px;
  top: 80px;
}

/* line 1, ../sass/_popup.scss */
#blackout {
  position: fixed;
  background: url(../images/popup-background.png) repeat;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 11, ../sass/_popup.scss */
.popup {
  padding: 15px 30px;
  width: 600px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  z-index: 1001;
}
/* line 21, ../sass/_popup.scss */
.popup .close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
/* line 31, ../sass/_popup.scss */
.popup .close span {
  font-size: 18px;
}
/* line 35, ../sass/_popup.scss */
.popup .close:hover {
  background: #666;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 39, ../sass/_popup.scss */
.popup .close:hover span {
  color: #fff;
}

/* line 47, ../sass/_popup.scss */
.popup .product-info {
  padding-bottom: 15px;
}
/* line 50, ../sass/_popup.scss */
.popup .product-info-image img {
  width: 200px;
  border: 1px solid #ccc;
}
/* line 54, ../sass/_popup.scss */
.popup .grid-row .grid-item.product-info-description {
  webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/* line 58, ../sass/_popup.scss */
.popup .options {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
/* line 62, ../sass/_popup.scss */
.popup .options li {
  display: block;
}
/* line 65, ../sass/_popup.scss */
.popup .options li strong {
  padding-right: 10px;
}
/* line 71, ../sass/_popup.scss */
.popup .total-price {
  width: 100px;
  padding: 15px 10px;
  background: #ccc;
  display: inline-block;
  vertical-align: top;
}

/*---- Global -----*/
/* line 17, ../sass/style.scss */
html {
  box-sizing: border-box;
  font: 400 14px 'Open Sans', 'Arial', sans-serif;
}

/* line 22, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 26, ../sass/style.scss */
body {
  background-color: #fff;
}

/* line 30, ../sass/style.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 35, ../sass/style.scss */
ul li {
  display: inline-block;
}

/* line 40, ../sass/style.scss */
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* line 2, ../sass/_mixins.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 46, ../sass/style.scss */
input[type=text],
textarea,
select[name=subject],
input[type=submit],
input[type=reset],
input[type=email],
input[type=number] {
  border: 1px solid #ccc;
}

/* line 56, ../sass/style.scss */
.a-center {
  text-align: center;
}

/* line 60, ../sass/style.scss */
.a-left {
  text-align: left;
}

/* line 64, ../sass/style.scss */
.a-right {
  text-align: right;
}

/* line 68, ../sass/style.scss */
.pull-left {
  float: left;
}

/* line 72, ../sass/style.scss */
.pull-right {
  float: right;
}

/* line 76, ../sass/style.scss */
h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
}

/* line 81, ../sass/style.scss */
h2 {
  font: 700 35px/42px Lato;
}

/* line 85, ../sass/style.scss */
h4 {
  font: 600 18px/20px Lato;
}

/* line 89, ../sass/style.scss */
.promo {
  padding: 60px 0;
}

/* line 93, ../sass/style.scss */
.grid-row {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 97, ../sass/style.scss */
.grid-row .grid-item {
  webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 15px;
}
/* line 101, ../sass/style.scss */
.grid-row .grid-item:first-child {
  padding-left: 0;
}
/* line 103, ../sass/style.scss */
.grid-row .grid-item:last-child {
  padding-right: 0;
}

@media (max-width: 4000px) and (min-width: 980px) {
  /* line 108, ../sass/style.scss */
  .container {
    width: 768px;
  }
}
@media (max-width: 979px) and (min-width: 780px) {
  /* line 114, ../sass/style.scss */
  .container {
    width: 780px;
  }
}
